* {
	margin: 0px;
	padding: 0px;
}

html {
  overflow-x: hidden;
  height: 100%;
  font-size: 16px;
  background-color: rgba(242, 242, 242, 1);
}

body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

a {
  color: inherit !important;
  text-decoration: none;

  :hover {
    text-decoration: none !important;
  }

  :focus {
    text-decoration: none !important;
  }
}

.font-courgette {
  font-family: 'Courgette', cursive;
}

.transparent {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
